<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ================================================== -->
  {% include 'open-graph-tags' %}
  {% include 'twitter-card' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% include 'google-fonts' %}

  <!-- CSS ================================================== -->
  {% if template contains 'index' or template contains 'product' %}
    {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}

  {% if settings.ajax_cart_enable %}
  <!-- Ajaxify Cart Plugin ================================================== -->
  {{ 'ajaxify.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {% comment %}
    If you store has customers disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {% comment %}
    Theme dependent JS is loaded at the very bottom of this file for performance reasons.
    However, jQuery is included here so that it can be used inside the templates, e.g. in product.liquid.
  {% endcomment %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" integrity="sha384-/Gm+ur33q/W+9ANGYwB2Q4V0ZWApToOzRuA8md/1p9xMMxpqnlguMvk8QuEFWA1B" crossorigin="anonymous"></script>
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {% if template contains 'index' or template contains 'product' %}
    {{ 'owl.carousel.min.js' | asset_url | script_tag }}
  {% endif %}

  <!-- Google Site Verification ================================================== -->
  <meta name="google-site-verification" content="BjLhp_qn7WjLgEIAzwZJb9w87VueDXdVTTlmg3e5xwk" />
  <meta name="google-site-verification" content="ay3ChkZwBiTqBdGmFd5ILVsJtr958bR6sej7JXcGIV4" />
  
  <!-- McAfee SECURE ================================================== -->
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>

  
  <!-- Hull ================================================== -->
{% include 'hull' %}
  
  <!-- Bing Verification ================================================== -->
    <meta name="msvalidate.01" content="50FA8EBC42F1F7180D897B3A4A1DA4C4" />
  

  <!-- Tinfoil Badge ================================================== -->
  <script type="text/javascript">(function(){function b(){var a=document.createElement("script");a.async=true;a.src="//d3mx6ldbbuey04.cloudfront.net/v2/badge.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(a,c)}window.attachEvent?window.attachEvent("onload",b):window.addEventListener("load",b,false)})();</script>
  
  <!-- reCAPTCHA (Disabled) ================================================== -->
  <!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
  
    <!-- Norton Safe Web ================================================== -->
  <meta name="norton-safeweb-site-verification" content="8kl7end17j9rx0i2frhmyk-fra1ht07zqm97txm3sr84zk15rlsm4c-cx77pnqa4s9dz2e-2efjlbit-kqqic9-v5s2tibj0c-kayhqd84g379o7pjci86hbqx5gi3c-" />
  
      <!-- Relatable App ================================================== -->
  <!-- Begin Relatable -->
<style>*[data-relatable]{visibility:hidden;}*[data-relatable].rendered{visibility:visible;}</style>
<script>
  var Relatable={base_url:"https://relatable.heliumdev.com/resources/384b0fb0e848b08a699e068da63f5c8a",
  callbacks:[],ready:function(callback){if(this.loaded){callback();}else{this.callbacks.push(callback);}}};
</script>
<script src="//cdn-relatable.heliumdev.com/js/1.0/relatable.js" async></script>
<!-- End Relatable -->
  
  <!-- Quick Announcement Bar (App by Hextom) ================================================== -->
  <script type="text/javascript" src="https://s3.amazonaws.com/lastsecondcoupon/js/quickannouncementbar.js?shop=decorate-our-home-planet.myshopify.com"></script>
 
  <!-- Adobe TypeKit ================================================== -->
  <script src="https://use.typekit.net/cbp7twt.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
  
{% include 'sca-quick-view-init' %}
 </head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}{% if settings.home_section_1 == 'slider' and template == 'index' %}attached-slider {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <header class="site-header" role="banner">
      <div class="wrapper">
        <div class="grid--full">
          <div class="mobile-nav--sticky">
            <div class="grid-item medium--hide large--hide one-half mobile-nav__item">
              <div id="mobileNavBar">
                <button class="menu-toggle btn-link mobile-nav-bar__link">
                  <span class="icon-fallback-text">
                    <span class="icon icon-menu" aria-hidden="true"></span>
                  </span>
                  {{ 'layout.navigation.menu' | t }}
                </button>
              </div>
            </div>
            <div class="grid-item medium--hide large--hide one-half text-right mobile-nav__item">
              <a href="/cart" class="cart-toggle mobile-nav-bar__link">
                {{ 'layout.cart.title' | t }}
                <span class="cart-icon-wrapper">
                  <span class="icon-fallback-text">
                    <span class="icon icon-cart" aria-hidden="true"></span>
                  </span>
                  <span class="cart-count{% if cart.item_count == 0 %} hidden-count{% endif %}">{{ cart.item_count }}</span>
                </span>
              </a>
            </div>
          </div>
          <div class="grid-item one-quarter small--hide header-login-wrapper">
            {% if shop.customer_accounts_enabled %}
              {% if customer %}
                <a href="/account">
                  {{ customer.first_name }}
                  <span class="icon-fallback-text">
                    <span class="icon icon-user" aria-hidden="true"></span>
                  </span>
                </a>
              {% else %}
                <a href="/account/login">
                  {{ 'customer.login.sign_in' | t }}
                  <span class="icon-fallback-text">
                    <span class="icon icon-user" aria-hidden="true"></span>
                  </span>
                  {{ 'or Sign Up' | customer_register_link }}
                  <span class="icon-fallback-text">
                    <span class="icon icon-user" aria-hidden="true"></span>
                  </span>
                </a>
              {% endif %}
            {% endif %}
          </div>
          <div class="grid-item large--one-half medium--one-half header-logo-wrapper">
            {% comment %}
              Use the uploaded logo from theme settings if enabled.
              Site name gets precedence with H1 tag on homepage, div on other pages.
            {% endcomment %}

            {% if template == 'index' %}
              <h1 class="header-logo" itemscope itemtype="http://schema.org/Organization">
            {% else %}
              <div class="h1 header-logo" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url">
                  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            {% if template == 'index' %}
              </h1>
            {% else %}
              </div>
            {% endif %}
            <div class="tk-blambot-casual"><center><a href="/">Decorate Our Home Planet (D.O.H.P.)</a></center>
            <center>Featured Design ($25 until next Friday!): <a href="https://dohp.com/products/footsteps-tree-shirt?utm_source=Website-Header&utm_medium=Website&utm_campaign=FootstepsFeatDesignHeaderLink">Footsteps</a></center>
            <center> Get <a href="https://dohp.com/products/the-patriot?utm_source=Website-Header&utm_medium=Website&utm_campaign=ThePatriotLimitedEditionHeaderLink">The Patriot</a> limited edition shirt for only $17.76 until July 17!</center>
            </div>
          </div>
          <div class="grid-item one-quarter small--hide header-cart-wrapper">
            {% comment %}
              Show number of items in the cart and total cost in the /cart link

              Ajaxify Cart Notes:
                - #cartToggle toggles cart visibility (drawer or modal)
                - #cartCount updates the total number of items in the cart
                - #cartCost updates the total cost of the cart
                - Documentation:  https://shopify.github.io/Timber/#ajax-cart
            {% endcomment %}
            <a href="/cart" class="cart-toggle" id="cartToggle">
              <span class="cart-icon-wrapper">
                <span class="icon-fallback-text">
                  <span class="icon icon-cart" aria-hidden="true"></span>
                </span>
                <span class="cart-count{% if cart.item_count == 0 %} hidden-count{% endif %}">{{ cart.item_count }}</span>
              </span>
              {{ 'layout.cart.title' | t }}
            </a>
            {% comment %}Adds search box to header {% endcomment %}
            {% include 'search-bar' %}
          </div>
        </div>
      </div>
  </header>
  <hr class="visible--small hr--header">

  <nav class="wrapper nav-bar" role="navigation">
    {% include 'site-nav' %}
  </nav>

  <main class="wrapper main-content" role="main">

    {{ content_for_layout }}

  </main>

  {% assign index = 0 %}

   {% if settings.footer_quicklinks_enable %}{% assign index = index | plus: 1 %}{% endif %}
   {% if settings.footer_social_enable %}{% assign index = index | plus: 1 %}{% endif %}
   {% if settings.footer_custom_enable %}{% assign index = index | plus: 1 %}{% endif %}
   {% if settings.footer_newsletter_enable %}{% assign index = index | plus: 1 %}{% endif %}

  {% case index %}
    {% when 1 %}
      {% assign footer_item_width = 'medium--one-half large--one-half push--medium--one-quarter push--large--one-quarter text-center' %}
    {% when 2 %}
      {% assign footer_item_width = 'medium--one-half large--one-third push--large--one-sixth' %}
    {% when 3 %}
      {% assign footer_item_width = 'medium--one-third large--one-quarter push--large--one-eighth' %}
    {% when 4 %}
      {% assign footer_item_width = 'medium--one-half large--one-quarter' %}
  {% endcase %}

  <footer class="tk-blambot-casual" class="site-footer" role="contentinfo">
    {% if index > 0 %}
      <div class="wrapper wrapper-footer-body">
        <hr>
        <div class="grid">
          {% if settings.footer_quicklinks_enable %}
            <div class="grid-item {{ footer_item_width }}">
              <h3 class="footer-heading">{{ 'layout.footer.linklist_title' | t }}</h3>
              <ul class="footer-quick-links">
                {% for link in linklists[settings.footer_quicklinks_linklist].links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          {% if settings.footer_social_enable %}
            <div class="grid-item {{ footer_item_width }}">
            <h3 class="footer-heading">{{ 'layout.footer.social_title' | t }}</h3>
              {% include 'social-buttons' %}
            </div>
          {% endif %}

          {% if settings.footer_custom_enable %}
            <div class="grid-item {{ footer_item_width }}">
              <h3 class="footer-heading">{{ settings.footer_custom_title }}</h3>
              <div class="custom-content">
                {{ settings.footer_custom_text | newline_to_br }}
              </div>
            </div>
          {% endif %}

          {% if settings.footer_newsletter_enable %}
            <div class="grid-item {{ footer_item_width }}">
              <h3 class="footer-heading">{{ 'layout.footer.newsletter_title' | t }}</h3>
              {% include 'newsletter-form' %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="wrapper wrapper-footer-legal">
      <hr>
      <div class="grid">
        <div class="grid-item wrapper-legal large--one-half">
          <p>
            <small>&copy; {{ 'now' | date: "%Y" }}, Digitally Organic Hybrid Products.</small>
            <small>{{ powered_by_link }}</small>
          </p>
        </div>
        {% comment %}
          Loop through available payment methods and show their icons.
        {% endcomment %}
        <div class="grid-item wrapper-accepted-payments large--one-half">
          {% unless shop.enabled_payment_types == empty %}
          <ul class="inline-list payment-icons">
            {% for type in shop.enabled_payment_types %}
              <li>
                <span class="icon-fallback-text">
                  <span class="icon icon-{{type}}" aria-hidden="true"></span>
                  <span class="fallback-text">{{type | replace: '_',' '}}</span>
                </span>
              </li>
            {% endfor %}
          </ul>
          {% endunless %}
        </div>
      </div>
    </div>
   
    <center> <!-- Badges -->
      
      <!-- PayPal Logo --><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" border="0" alt="PayPal Logo"></a></td></tr></table><!-- PayPal Logo -->

      <!-- Shopify Badge --><a href="https://www.shopify.com/?utm_source=secure&amp;utm_medium=shop" title="This online store is secured by Shopify" target="_blank"><img src="//cdn.shopify.com/s/images/badges/shopify-secure-badge-light-shadow.png" alt="Shopify secure badge" /></a>
   
    <!-- SnapSitemap Badge --><!--<a href="https://www.snapsitemap.com/badge/verify/115542.html"><img border="0" src="https://cdn.snapsitemap.com/badge/img/115542/4.png" border="0"></a>//Disabled -->
          
      <!-- Tinfoil Badge --><!--<tinfoil:badge data-key="5b7da231a08c6aea3612afb889c3e09f36d33382" data-type="b"></tinfoil:badge>//Disabled -->
    
    <!--VigLink Badge --><a href="https://www.viglink.com/legal/disclosures/users?vgtag=badge"><img alt="VigLink badge" height="31" width="88" src="https://www.viglink.com/images/badges/88x31.png" title="Links monetized by VigLink" width="120" /></a>
  
    <!-- End Badges --></center>       
  </footer>


  {% comment %}
    An (almost) empty JS file for you to place your code
  {% endcomment %}
  {{ 'shop.js' | asset_url | script_tag }}

  {% comment %}
    Ajaxify your cart with this plugin. Adding a product will reveal a drawer, modal, or confirmation button. Enabled by default in theme settings.

    Ajaxify Cart Documentation:
      - https://shopify.github.io/Timber/#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_enable %}
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajaxify.js' | asset_url | script_tag }}
  <script>
  jQuery(function($) {
    ajaxifyShopify.init({
      method: '{{ settings.ajax_cart_method }}',
      wrapperClass: 'wrapper',
      formSelector: '#addToCartForm',
      addToCartSelector: '#addToCart',
      cartCountSelector: '#cartCount',
      cartCostSelector: '#cartCost',
      toggleCartButton: '#cartToggle',
      useCartTemplate: true,
      btnClass: 'btn',
      moneyFormat: {{ shop.money_format | json }},
      disableAjaxCart: false,
      enableQtySelectors: true,
      prependDrawerTo: 'body',
      onToggleCallback: timber.cartToggleCallback
    });
  });
  </script>
  {% endif %}
  {% include 'back-to-the-top' %}

<!-- spurit_uev-added -->
{% include 'spurit_uev-theme-snippet' %}
<!-- /spurit_uev-added -->


<!-- spurit_um-added -->
{% include 'spurit_um-theme-snippet' %}
<!-- /spurit_um-added -->

{% include 'sca-quick-view-template' %} 
 </body>
</html>
